appdirs==1.4.4
asgiref==3.8.1
astroid==2.15.8
attrs==25.1.0
autobahn==23.1.2
Automat==24.8.1
backports.zoneinfo==0.2.1
base58==2.1.1
base91==1.0.1
certifi==2025.1.31
cffi==1.17.1
channels==4.2.0
charset-normalizer==3.4.1
ciphey==5.14.0
cipheycore==0.3.2
cipheydists==0.3.35
click==7.1.2
colorama==0.4.6
commonmark==0.9.1
constantly==23.10.4
cryptography==44.0.1
daphne==4.1.2
dill==0.3.9
Django==4.2.19
django-channels==0.7.0
flake8==3.9.2
hyperlink==21.0.0
idna==3.10
incremental==24.7.2
isort==5.13.2
langdetect==1.0.9
lazy-object-proxy==1.10.0
loguru==0.5.3
mccabe==0.6.1
mock==4.0.3
name-that-hash==1.10.0
oauthlib==3.2.2
platformdirs==4.3.6
pyasn1==0.6.1
pyasn1_modules==0.4.1
pybase62==0.4.3
pycodestyle==2.7.0
pycparser==2.22
pyflakes==2.3.1
Pygments==2.19.1
pylint==2.17.7
pyOpenSSL==25.0.0
pywhat==1.1.0
PyYAML==5.4.1
requests==2.32.3
requests-oauthlib==2.0.0
rich==10.16.2
service-identity==24.2.0
six==1.17.0
sqlparse==0.5.3
tomli==2.2.1
tomlkit==0.13.2
Twisted==24.11.0
txaio==23.1.1
typing_extensions==4.12.2
urllib3==2.2.3
whitenoise==6.7.0
wrapt==1.17.2
zope.interface==7.2
