.title {
    font-size: 3.5vh;
    padding-top: 1vh
}

.editTitle {
    flex-basis: 100%;
    font-size: 3vh
}

.gridContainer {
    height: calc(50vh - 10vw);
    margin: 1vh auto 0;
    max-height: 40vw;
    max-width: 40vw;
    min-height: 35vh;
    min-width: 35vh;
    padding: 0;
    width: calc(50vh - 10vw)
}

.grid {
    display: grid;
    flex: auto;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    height: 100%
}

.grid-item {
    align-items: center;
    background-size: inherit;
    display: flex;
    flex: auto;
    justify-content: center;
    margin: 0;
    padding: 0;
    position: relative;
    text-align: center;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.grid-item:before {
    background-position: inherit;
    background-repeat: no-repeat;
    background-size: inherit;
    content: "";
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: -1
}

.centered {
    align-items: center;
    display: flex;
    flex: auto;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center
}

.break {
    flex-basis: 100%;
    height: 0
}

.inputs {
    font-size: calc(4.5vmin - .5vw)
}

.editInputsContainer {
    align-items: center;
    border: 1px solid #000;
    border-radius: .8em;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding: 2px;
    text-align: center;
    width: fit-content
}

.buttons {
    border-radius: .3em;
    box-sizing: border-box;
    cursor: pointer;
    margin: min(1vh,1.5vw);
    position: relative;
    text-align: center
}

.fontButtons {
    color: #000;
    font-size: max(2.5vh,1vw);
    padding: min(.4vh,1vw)
}

.svgButtons {
    height: max(3.8vh,1vw);
    padding: 0;
    width: max(3.8vh,1vw)
}

.buttons:active {
    top: .1em
}

.buttons:focus,.buttons:hover {
    box-shadow: 0 0 8px #000;
    opacity: .9
}

.buttonsRow1 {
    background-color: #eaecee
}

.buttonsRow2 {
    background-color: #d5d8dc
}

.buttonsRow3 {
    background-color: #abb2b9
}

.algorithmsDropdown {
    font-size: 2vh;
    padding: .9vh
}

.dimensionInput {
    align-items: center;
    display: inline-flex;
    font-family: Fira Mono,monospace;
    justify-content: flex-end;
    margin-top: 1vh;
    width: 60vmin
}

.numberInput {
    width: 8vmin
}

.imageInputURL {
    line-height: 150%;
    width: 30vmin
}

.slider {
    -webkit-appearance: none;
    background: #d3d3d3;
    border-radius: 5px;
    flex-basis: 100%;
    height: max(1vh,.5vw);
    opacity: .7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    width: 100%
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background: #0051ff;
    border-radius: 50%;
    cursor: pointer;
    height: max(3.5vh,2vw);
    width: max(3.5vh,2vw)
}

.slider::-moz-range-thumb {
    background: #0051ff;
    border-radius: 50%;
    cursor: pointer;
    height: 6vmin;
    width: 6vmin
}

input[type=range]:focus {
    background: #c7c7c7;
    opacity: 1
}

input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
    opacity: 1
}

html {
    height: 100%;
    margin: 0
}

body {
    margin: 0;
    min-height: 100%
}

.outputAreaContainer {
    height: 15vh;
    margin: 3vh auto 0;
    width: 100%
}

.summaryOutput {
    border: none;
    margin-left: 0;
    margin-right: 1vw;
    text-align: right;
    width: 50%
}

.solutionOutput {
    border: 1px solid;
    border-radius: 5px;
    margin-right: 10%;
    max-width: 30%;
    overflow-y: scroll;
    text-align: left;
    width: 22%
}

.outputArea {
    background-color: transparent;
    cursor: default;
    font-family: Fira Mono,monospace;
    font-size: 3vmin;
    height: 100%;
    outline: none;
    resize: none
}
