{% extends "_base.html" %}

{% block title %}AUD Open Day{% endblock %}

{% block content %}
<div class="text-center">
    <h1 class="my-4">Welcome to AUD Open Day</h1>
    <p class="lead">Select an application to explore:</p>

    <a href="{% url 'hanoi_page' %}" class="btn btn-primary btn-lg w-100 mb-2">Towers of Hanoi Solver</a>
    <a href="{% url 'sliding_puzzle_page' %}" class="btn btn-primary btn-lg w-100 mb-2">Sliding Puzzle Solver</a>
    <a href="{% url 'cipher_page' %}" class="btn btn-primary btn-lg w-100 mb-2">Cipher Solver</a>
    <a href="{% url 'maze_page' %}" class="btn btn-primary btn-lg w-100 mb-2">Maze Solver</a>
</div>
{% endblock %}
